body {
    color: aliceblue;
    background: rgb(78, 76, 76);
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
    margin: auto;
}
td {
    border-collapse: collapse;
    border-bottom: 1px solid white;
}
.first_table {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 200px;
    width: auto;
    
}