body {
    font-family: 'Avenir';
    
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
       
}
a {
    text-decoration: none;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
   
}
.logo {
    margin-right: 120px;
}
header {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-top: 50px;
}

nav {
    display: flex;
    align-items: center;
    
}

.navigation {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.nav_button {
    background-color: white;
    width: 210px;
    height: 60px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212353;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    margin-left: 420px;
    margin-right: 128px;
    cursor: pointer;
}
.nav_btn_arrow {
    margin-left: 20px;
    align-items: center;
}

.first_section {
    background-image: url('../image/image1.svg');
    background-repeat: no-repeat;
    background-size: 885px;
    background-position-x: right;
    background-position-y: bottom;
    display: flex;
    width: 1248px;
    height: 564px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
}
.first_section_info {
    display: flex;
    flex-direction: column;
    width: 464px;
}



h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    align-items: center;
    color: #212353;
    width: 645px;
    margin-bottom: 50px;
}

.first_section_info_text {
    width: 380px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-bottom: 50px;
}

.learn_more_btn {
    width: 170px;
    height: 60px;
    left: 240px;
    top: 644px;
    background: #9C69E2;
    border-radius: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.second_section {
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    width: 1248px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.second_section_img {
    width: 447px;
}

.second_section_info {
    width: 475px;
    margin-right: 93px;
}

.second_section_info_title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
    margin-bottom: 40px;
}

.second_section_info_text {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.third_section {
    margin-top: 150px;
    text-align: center;
}

.third_section_title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin-bottom: 50px;
}

.third_section_info {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.fourth_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1248px;
    height: 690px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 175px;

}

.fourth_section_content_row {
    display: flex;
    justify-content: space-between;
}

.fourth_section_content_block_1 {
    background-image: url('../image/image_s4_el1.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 520px;
    height: 355px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.fourth_section_content_block_2 {
    background-image: url('../image/image4.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 520px;
    height: 355px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.fourth_section_content_block_3 {
    background-image: url('../image/image5\ 1.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 520px;
    height: 355px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}
.fourth_section_content_block_4 {
    background-image: url('../image/image6\ 1.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    width: 520px;
    height: 355px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.fourth_section_content_block_title {
    display: flex;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    margin-left: 262px;
      
}

.fourth_section_content_block_info {
    width: 220px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-left: 262px;
}

.fourth_section_content_block_btn {
    display: flex;
    margin-left: 262px;
    justify-self: flex-end;
}

.lm_btn_arrow {
    margin-left: 10px;
    align-items: center;
}

.buner {
    margin: 0 auto;
    width: 1118px;
    height: 709px;
    background: #9C69E2;
    border-radius: 50px;
}


.footer_container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1117px;
    height: 500px;
    background: #93b8cf;
    margin-top: 250px;
    margin-bottom: 90px;
}

.first_footer_section {
    display: flex;
    justify-content: space-between;
}

.first_footer_section_block_one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 564px;
    height: 101px;
}

.first_footer_section_block_one_title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
}

.first_footer_section_block_one_text {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}

.first_footer_section_block_two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn_more_footer_btn {
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.footer_button_two {
    background-color: white;
    width: 210px;
    height: 60px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    color: #212353;
    border-radius: 50px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    cursor: pointer;
    margin-left: 30px;
}

.second_footer_container {
    display: flex;
    margin-top: 150px;
    width: 1117px;
    justify-content: space-between;
    margin-top: 150px;
}

.second_footer_container_one {
    display: flex;
    flex-direction: column;
    width: 335px;
}

.third_footer_container {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    align-items: center;
}

.second_footer_container_one_title {
    display: flex;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    align-items: center;
    margin-bottom: 67px;
}

.second_footer_container_one_text {
    
}