body {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rochester', cursive;
    font-family: 'Playfair Display', serif;
    font-family: 'Mulish', sans-serif;
    margin-top: 30px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: #F6F6F6;
}

nav {
    max-width: 550px;
    margin: 0 auto;
}

header {
   margin: 0 auto;
}

.header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(233, 231, 231);
}

.header_logo {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #1B2437;
    align-items: center;
    min-width: 109px;
    margin-left: 165px;
}

.header_social_net {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.header_icon_size {
    width: 28px;
}

.header_icon {
    gap: 24px;
    margin-right: 165px;
}



.nav_list {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #000000;
}

.slider {
    margin-top: 12px;
    display: flex;
    min-height: 569px;
    background-image: url('../img/SLIDER.png');
    margin-bottom: 70px;
}

.slider_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 165px;
    margin-top: 103px;
    margin-bottom: 118px;
}

.slider_info_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 67px;
    color: #FFFFFF;
}

.slider_info_text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.slider_info_btn {
    background: #1B2437;
    border-radius: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    width: 255px;
    height: 77px;
    cursor: pointer;
}

.collectiont_container {
    display: grid;
    gap: 30px;
    grid-template-columns: 445px auto auto;
    grid-template-rows: 1fr 1fr 315px;
    justify-content: center;
}

.women_collection_popular {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url('../../homemade08/img/women_collection_category_popular.png');
    background-size: cover;
    border-radius: 16px;
    row-gap: 8px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.women_collection_popular_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
    margin-left: 32px;
}

.women_collection_popular_text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 32px;
}

.women_collection_popular_btn {
    width: 93px;
    height: 30px;
    left: 195px;
    top: 1189px;
    background: #adadad;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer; 
    margin-left: 32px;
    margin-bottom: 32px;
}

.women_colection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 303px;
    height: 225px;
    background-color: #EFEFF4;
    border-radius: 16px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.women_colection_text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1B2437;
    margin-left: 22px;
}

.women_colection_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #1B2437;
    margin-left: 22px;
}

.dress_colection {
    width: 303px;
    height: 225px;
    background-image: url('../../homemade08/img/dresses_category.png');
    grid-column-start: 3;
    grid-column-end: 4;
}

.dress_colection_text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 53px;
    margin-left: 40px;
}

.dress_colection_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
    margin-left: 40px;
}

.denim_jackets {
    grid-column-start: 2;
    grid-column-end: 4;
    background-image: url('../../homemade08/img/denim_jackets_category.png');
    background-size: cover;
    border-radius: 16px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.collectiont_container_buner {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #adadad;
    border-radius: 16px;
}


.denim_jackets_colection_text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1B2437;
    margin-left: 54px;
    margin-top: 64px;
}

.denim_jackets_colection_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #1B2437;
    margin-left: 54px;
}

.you_make_container, .map {
    margin: 0 auto;
    max-width: 1110px;
}
.you_make_title, .map_container_title  {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 67px;
    color: #1B2437;
    margin-top: 70px;
    margin-bottom: 35px;
}

.you_make_block {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.you_make_block_goods {
    border-radius: 16px;
    background: white;
}

.you_make_block_goods_img {
    width: 100%;
}

.like_icon {
    position: absolute;
    z-index: 2;
    left: 290px;
    top: 16px;
}

.you_make_block_goods_title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.you_make_block_goods_text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-left: 24px;
}

.you_make_block_goods_form {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 16px;
    margin-bottom: 18px;
}

.you_make_block_goods_form_price {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 30px;
    color: #000000;
}
.you_make_block_goods_shop_now_btn {
    width: 153px;
    height: 58px;
    background: #EDA3B5;
    border-radius: 15px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.map_container {
    max-width: 1110px;
    background: #ffffff;
    border-radius: 16px;
    height: 658px;
    display: flex;
    flex-direction: column;
}

.map_block {
    width: 1086px;
    height: 511px;
    background: rgb(140, 177, 140);
    margin-top: 12px;
    margin-left: 12px;
}

.map_container_contacts {
    display: flex;
    justify-content: space-around;
    margin-top: 24px
}

.map_container_contacts_email, .map_container_contacts_adress, .map_container_contacts_tel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px; 
    color: #000000;
}

.img_icon {
    width: 40px;
    margin: 0 auto;

}

.map_container_contacts_email_text {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    margin-top: 16px;
}

footer {
    max-width: 1440px;
    margin: 0 auto;
    }